<h1><img src="https://emojis.slackmojis.com/emojis/images/1563480763/5999/meow_party.gif?1563480763" width="30"/> Hi, nice to meet you there.</h1>

<p>Welcome to my github page! </br> I'm {{user.name}}, free developer from <img src="https://lsmg-img.oss-cn-beijing.aliyuncs.com/Mine/80px-Future_Gadget_Lab_logo.png" width="13"/> <b>{{user.address}}</b>, currently studying in <img src="https://image.flaticon.com/icons/svg/197/197564.svg" width="13"/> <b>{{user.school}}</b>. </p>

<h3>My latest articles</h3>
<ul>
    {{#articles}}
    <li>
      <a href="{{url}}"><b><img src="https://lsmg-img.oss-cn-beijing.aliyuncs.com/Mine/60px-Emo_%E3%82%8F%E3%81%84%E3%81%AE%E3%82%8F%E3%81%84%E3%81%AE.png" width="20" alt="new" />{{title}}</b></a>
    </li>
    {{/articles}}
</ul>

<h3>My GitHub Statistics</h3>
<div>
  <a width="495" href="https://github.com/HiganFish">
      <img src="https://github-readme-stats.vercel.app/api?username=HiganFish&show_icons=true&count_private=true"/>
  </a>
</div>

<h3>My Coding Activitys</h3>
<div>
  <img width="495" src="https://wakatime.com/share/@971f1ecf-219c-4e11-9769-4acb9679f6a6/69032413-02a3-4ca6-ac82-b50f68fcecf1.png" />
</div>


------------
<p align="center">This <i>README</i> file is generated <b>every hour</b>!<br />Last refresh:{{date}}</p>
<p align="center">
  <img alt="Stars" src="https://img.shields.io/github/stars/HiganFish/LiveBroadcast?style=flat-square&labelColor=343b41"/>
  <img alt="Forks" src="https://img.shields.io/github/forks/HiganFish/LiveBroadcast?style=flat-square&labelColor=343b41"/>
  <img alt="Visitors" src="https://visitor-badge.glitch.me/badge?page_id=LiveBroadcast"/>
</p>